.chat-body::-webkit-scrollbar {
  width: 5px;
}

.chat-body::-webkit-scrollbar-track {
  background: transparent;
}

.chat-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}


.markdown-body {
  font-size: 11px !important;
  line-height: 1.4 !important;
  color: #e2e8f0;

  @media (min-width: 768px) {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }

  p {
    margin-bottom: 0.4rem !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }

  p:last-child {
    margin-bottom: 0 !important;
  }

  strong,
  b {
    color: #38bdf8;
    font-weight: 700;
  }

  ul,
  ol {
    list-style-type: disc !important;
    padding-left: 1rem !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.4rem !important;
  }

  li {
    margin-bottom: 0.2rem !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}